<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <header>
    <div>
      <a href="/">
        <h1>Best Books!</h1>
      </a>
    </div>
    <nav>
      <div class="icon-menu"></div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new">Search the Google Books API</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h4>Error!</h4>
    <p>Oopsie Poopsie! Something went wrong!</p>
  </main>
  <%- include('../layout/footer') %>
</body>

</html>