<!DOCTYPE html>
<html>

    <%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>

    <main>

        <h4>My Books Text</h4>

    </main>

    <%- include('../layout/footer') %>
</body>

</html>